body {
  background: #181923;
  color: #b59e90;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --swatch-900: #181923;
  --swatch-800: #292d41;
  --swatch-700: #38405d;
  --swatch-600: #4c546d;
  --swatch-400: #6f687a;
  --swatch-300: #8b7983;
  --swatch-200: #a58d89;
  --swatch-100: #b59e90;
}